**/.vscode/

/CustomGameEngine/.config/
/CustomGameEngine/Content/bin/
/CustomGameEngine/Content/obj/
/CustomGameEngine/bin/
/CustomGameEngine/obj/

/MonoGameLibrary/.config/
/MonoGameLibrary/bin/
/MonoGameLibrary/obj/
